@charset 'utf-8';

body{
	margin: 10px;
	padding: 10px;

	color: #000;
	background: #fff;

	font-family: "arial black","YuGothic","Yu Gothic","Meiryo","sans-serif";
}


h1#sys-name{
	font-size: 25px;
	margin: 0px 0px 70px 0px;
	padding: 0;
	color: #000;
}

span#page-name{
	font-size:20px;
}